@import url("./global.css");
@import url("../../fonts/fonts.css");
@import url("./variables.css");

.page {
  font-family: var(--main-font), sans-serif;
  color: var(--accent-color);
  font-weight: var(--weight-regular);
  background-image: var(--gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
}

.page__label {
  position: absolute;
  top: 25px;
  right: 13px;
  z-index: 1;
  opacity: 30%;
}

.main__start {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.main__game {
  width: 50vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 6fr 1fr;
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
}

.page__title {
  font-family: var(--accent-font), sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.flowtext {
  background: linear-gradient(
    90deg,
    #e933ff,
    #ffb400,
    #ff3333,
    #334dff,
    #e933ff
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textflow 5s linear infinite;
}

.bluetext {
  color: #334dff;
}

@keyframes textflow {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}

/**-------------button--------------------- **/
.button {
  position: relative;
  display: flex;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  width: 130px;
  height: 40px;
  cursor: pointer;
  background-color: var(--background-color);
}

.button__text {
  color: #fff;
  margin: auto;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::after {
  width: 100%;
}

.button_type-start {
  width: 150px;
  height: 50px;
  font-size: 20px;
}
/**-------------button--------------------- **/

/**-------------popup---------------------- **/
.popup {
  background-color: var(--background-color);
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.popup_is-animated {
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: visibility 0s 0.6s, opacity 0.6s;
}

.popup_is-opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.6s;
}

.popup__button-close {
  width: 35px;
  height: 35px;
  background: transparent url("../../image/close.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: 0.6;
}

.popup__content {
  position: relative;
  min-width: 290px;
  min-height: 210px;
  border: 1px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  justify-content: space-between;
}

.title_and_button {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-color);
}

.popup__title {
  align-self: center;
  font-size: 22px;
  margin-left: 5px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.popup__input_type_against-whom {
  width: 140px;
  height: 30px;
}

.popup__input_type_number-of-handful {
  width: 140px;
  height: 30px;
}

.popup__button {
  margin-bottom: 10px;
}

.popup__content-how-many {
  width: 500px;
  height: 600px;
}

.instruction-container {
  border: 2px solid;
  border-image: linear-gradient(90deg, #ff3333, #334dff, #e933ff) 30;
}

.popup__button-start {
  align-self: center;
  margin-top: 10px;
}

.form__content-how-many {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  justify-content: space-between;
}

.handful-container {
  position: relative;
  width: 100%;
  height: 290px;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  gap: 10px;
  overflow: auto;
  justify-content: start;
  flex-direction: column;
}

.handful-container-game {
  height: 100%;
}

.popup__input_type_how-many-handful {
  width: 260px;
}

.handful {
  width: 100%;
  min-height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.handful__number {
  font-size: 20px;
  margin-left: 10px;
}

.handful__count {
  display: flex;
  margin-left: auto;
  margin-right: 5px;
  min-width: 50px;
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  justify-content: center;
}

.handful-list__image {
  overflow: hidden;
  display: flex;
  gap: 1px;
}

.handful-list__image-item {
  background: transparent url("../../image/bitcoin.svg") center no-repeat;
  background-size: 35px 35px;
  min-width: 35px;
  min-height: 35px;
}

.handful-checked {
  border: 2px solid red;
  border-radius: 5px;
}

/**-------------popup---------------------- **/

.game-history-container {
  border: 1px solid var(--accent-color);
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 10px;
}

.history-item {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 2px;
}

.button__restart {
  align-self: center;
  justify-self: center;
}

.danger-color {
  color: red;
  mix-blend-mode: normal;
  font-weight: var(--weight-bold);
}

.control__panel {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.control__button {
  width: 50px;
  height: 30px;
}

.conrtol__panel-input {
  width: 58px;
}

.element_hide {
  display: none;
}


label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
  border: 1px solid var(--accent-color);
}

input[type='checkbox']:checked + span {
  background-image: url(../../image/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.message-error {
  background-color: rgba(238, 5, 5, 0.514);
}

.message-info {
  background-color: rgba(5, 28, 238, 0.514);
}

.message-good {
  background-color: rgba(5, 238, 63, 0.514);
}

.end-message {
  text-align: center;
  margin: 10px;
}

@media (width < 830px) {
  .main__game {
    width: 100vw;
    height: 50vh;
  }
  .button__restart {
    max-width: 50px;
    max-height: 20px;
    font-size: 10px;
  }
}