:root {
    --main-font: Roboto;
    --accent-font: PressStart2P;
    --weight-regular: 400;
    --weight-bold: 700;
    --background-color: #fff;
    --accent-color: #000;
    --gradient: repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}